<?xml version='1.0' encoding='UTF-8'?>
<osm>

    <level
        map="./content/map3.osm"
        arcs="0"
        />

    <player
            velocity="5"
            runVelocity = "10"
            turnVelocity="5"
            mass="1"
            spawnPoint="1251146689"
    />
    <gpu
            velocity="15"
            pause="5"
            spawnPoint="4169083660"
    />
</osm>